#------------------------------------------------------
# Ignore Files in data but keep the folder
#------------------------------------------------------
data/*
!data/.gitkeep



#------------------------------------------------------
# Ignore compiled InCollege file
#------------------------------------------------------
InCollege
